!!!
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1") 
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/skin/jplayer.blue.monday.css')

    script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.1.js')
    script(type='text/javascript', src='/javascripts/jquery.jplayer.min.js')

  body!= body